<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">Рейтинги по приемной кампании УУНиТ 2023</a>
            </nav>
        </header>
        <!-- Begin page content -->
        <h2>{{ header }}</h2>
        <h3>Рейтинг на момент {{ load_time }}</h3>
        {% block content %}{% endblock %}
    </body>
    <footer class="footer">
        <nav class="navbar navbar-light bg-light">
            Кафедра ВВТиС УУНиТ
        </nav>
    </footer>
</html>